
.image{
    width: 100%;
    
    bottom: 0px;
    
   
    
}
.time{
    position: absolute;
    background-color: black;
    color: white;
    display: inline-block;
    bottom: 9px;
    right: 9px;
    font-size: 12px;
    padding: 3px;
    opacity: 0.75;   
    font-family: Arial, Helvetica, sans-serif;
   
}

.video-title{
    font-weight: bold;
    margin-bottom: 10px;
}
.video-author,.video-stats{
    display: inline-block;
    margin-bottom: 10px;
}

.image-preview{
   vertical-align: top;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    position: relative;
  
}

.profile{
    width: 35px;
    border-radius: 20px;
}
.description-row{
    margin-top: 0px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.thumbanil-row{
    margin-bottom: 10px;
    position: relative;
   
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 10px;
}


@media(max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 999px)and (min-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr,1fr,1fr,1fr;
    }
}
